<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table class="table mt-3">
            <label for="">{{this.value}}</label><br>
            <button class="btn btn-info mx-3" (click)="executeValue(1)" >1</button>
            <button class="btn btn-info mx-3" (click)="executeValue(2)" >2</button>
            <button class="btn btn-info mx-3" (click)="executeValue(3)" >3</button><br>
            <button class="btn btn-info mx-3" (click)="executeValue(4)" >4</button>
            <button class="btn btn-info mx-3" (click)="executeValue(5)" >5</button>
            <button class="btn btn-info mx-3" (click)="executeValue(6)" >6</button><br>
            <button class="btn btn-info mx-3" (click)="executeValue(7)" >7</button>
            <button class="btn btn-info mx-3" (click)="executeValue(8)" >8</button>
            <button class="btn btn-info mx-3" (click)="executeValue(9)" >9</button><br>
            <button class="btn btn-info mx-3" (click)="executeValue(0)" >0</button>
        </table>
    </form>
</body>
</html>